<h2>Consultar historial medico pacientes</h2>
<br>
<table class="table table-hover table-stripped" id="matriculas-list" >
    <tr>
        <th class="col-md-7"><h3>Paciente</h3></th>
    </tr>
    <ng-container *ngFor="let user of users">
        <ng-container *ngIf="user.role == 'paciente'">
          <tr>
            <td class="col-md-7" >
                <h4>
                  <a [routerLink]="['/paciente', user.id]">
                    {{user.name}} {{user.surname}}
                  </a>
              </h4>
            </td>
          </tr>
        </ng-container>
    </ng-container>
</table>